
body{
    color:black;
    font-family: calendula,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.section-heading{
    font-family: calendula,sans-serif;
font-weight: 600;
font-style: normal;
}


.pullquote {
    border-left: 10px solid #fcdb5e;
    background-image:url(PXL_20211215_213551819.MP.jpg);
    background-size:cover;
    padding:500px 0px 0px 0px;
}

.description {
    color:gray;
}

 
.topper {
      background-image:url(lev_7176.jpeg);
      padding:800px 0px 0px 0px;
      width:100%;
      background-size: cover;
      background-position: center;
  }

#h1-topper {
      background-color:rgba(0, 0, 0, 0.55);
      color:white;
  }

#h1-pullquote {
      background-color:rgba(0, 0, 0, 0.55);
      color:white;
    padding: 0px 5px 0px 5px;
    margin: 0px 0px 0px 0px;
  }
