
body{
    color:black;
    font-family: calendula,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.section-heading{
    font-family: calendula,sans-serif;
font-weight: 600;
font-style: normal;
}

.home {
    color:white;
    background-image:url(lev_7176.jpeg);
    background-size:cover;
    max-height: 100%;
    background-position: center;
    text-align: left;
}

.pullquote {
    border-left: 10px solid #fcdb5e;
    background-image:url(PXL_20211215_213551819.MP.jpg);
    background-size:cover;
}

