body {
    background-color: #D4C1B0;
    text-align: center;
    font-family: 'Hammersmith One', sans-serif; 
    font-weight: 50px;
}
button {
    background-color: #B74F6F;
    color:aliceblue;
    width: 150px;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
    font-family: 'Cabin', sans-serif;
    border:none;
}

button:hover {
    background-color: #001D8F;
}

